# Configuration

In [124]:
import os
from openai import OpenAI



from dotenv import load_dotenv
import os
from openai import OpenAI

load_dotenv()



AZURE_OPENAI_KEY = os.getenv("AZURE_OPENAI_KEY")
AZURE_OPENAI_ENDPOINT = os.getenv("AZURE_OPENAI_ENDPOINT")
AZURE_OPENAI_DEPLOYMENT = "gpt-4o-mini"  

os.environ["AZURE_OPENAI_API_KEY"] = AZURE_OPENAI_KEY
os.environ["AZURE_OPENAI_ENDPOINT"] = AZURE_OPENAI_ENDPOINT


# Create client for Azure OpenAI
client = OpenAI(
    api_key=os.environ["AZURE_OPENAI_API_KEY"],
    base_url=f"{os.environ['AZURE_OPENAI_ENDPOINT']}/openai/v1/",
)

# Simple test call
resp = client.chat.completions.create(
    model=AZURE_OPENAI_DEPLOYMENT, 
    messages=[
        {"role": "system", "content": "You are a helpful assistant."},
        {"role": "user", "content": "Introduce your self in short sentence."},
    ],
)

print(resp.choices[0].message.content)

I am an AI language model designed to assist with information, answer questions, and facilitate engaging conversations.

# Check the language syntax

In [125]:
def normalize_query(text: str) -> str:
    resp = client.chat.completions.create(
        model=AZURE_OPENAI_DEPLOYMENT,
        messages=[
            {"role": "system", "content": "You understand poorly written Norwegian and English. Correct spelling mistakes, interpret the meaning, and rewrite the sentence clearly."},
            {"role": "user", "content": text},
        ],
        temperature=0.1
    )
    return resp.choices[0].message.content.strip()

# LLM planner: convert the natural language query to a structured JSON plan

In [193]:
import json

SYSTEM_PROMPT = """


You are a GIS planner agent for a Nordic municipality.
You NEVER execute SQL and NEVER touch the database.
You ONLY output a JSON plan that another system will translate to SQL.

------------------------------------------------------------
OUTPUT FORMAT (STRICT)
------------------------------------------------------------
You MUST output ONLY valid JSON with EXACTLY these fields:

{
  "operation": "...",
  "layer": "...",
  "target_layer": "...",
  "buffer_meters": ...,
  "limit": ...,
  "where_clause": "..."
}




Rules:
- No backticks, no explanations, no comments.
- All fields MUST exist, even if null or empty.
- buffer_meters MUST be a number or null.
- limit MUST be a number or null.
- where_clause MUST be either "" or a simple phrase (see rules below).
- layer and target_layer MUST be valid or "".


------------------------------------------------------------
ALLOWED OPERATIONS
------------------------------------------------------------
General:
- "select_limit_only"
- "select_by_attribute"
- "select_buffer"
- "select_intersect"
- "select_nearest"
- "select_within_polygon"

Special (only if user explicitly asks):
- Buildings: "select_buildings_in_floodzone", "select_buildings_near_route", "select_buildings_by_area"
- Flood zones: "select_within_floodzone", "select_intersect_floodzone"
- Bicycle routes: "select_near_bikeroute", "select_intersect_bikeroute"
- Walking routes: "select_near_walkroute", "select_intersect_walkroute"
- Ski routes: "select_near_skiroute", "select_intersect_skiroute"
- Route info points: "select_nearest_rutepoint", "select_points_in_area"



------------------------------------------------------------
ALLOWED LAYERS (MUST MATCH EXACTLY)
------------------------------------------------------------
- "buildings"
- "flomsoner"
- "buildings_sample"
- "arealbruk_skogbonitet_sample"
- "flomsoner_sample"
- "sykkelrute_senterlinje_sample"
- "skiloype_senterlinje"
- "annenrute_senterlinje"
- "annenruteinfo_tabell"
- "arealbruk_skogbonitet"
- "fotrute_senterlinje"
- "fotruteinfo_tabell"
- "ruteinfopunkt_posisjon"
- "skiloypeinfo_tabell"
- "sykkelrute_senterlinje"
- "sykkelruteinfo_tabell"

If no layer is clearly referenced → layer = "".






------------------------------------------------------------
target_layer RULES (VERY IMPORTANT)
------------------------------------------------------------
For ANY spatial operation (buffer, intersect, nearest),
the JSON MUST include a valid "target_layer".

Mapping:
- "near water" → "flomsoner"
- "near river" → "flomsoner"
- "intersect floodzone" → "flomsoner"
- "inside floodzone" → "flomsoner"
- "near bikeroute" → "sykkelrute_senterlinje"
- "intersect bikeroute" → "sykkelrute_senterlinje"
- "near walkroute" → "fotrute_senterlinje"
- "near skiroute" → "skiloype_senterlinje"

If user gives NO spatial relation → target_layer MUST be "".



------------------------------------------------------------
OPERATION SELECTION RULES
------------------------------------------------------------
- If the user says “within X meters” → operation = "select_buffer".
- If the user says “near X” → operation = "select_buffer", unless they say “nearest”.
- If the user says “nearest” or “closest” → operation = "select_nearest".
- If no spatial relation is described → DO NOT choose buffer/intersect/nearest.
- City names (e.g., “Kristiansand”) MUST NOT produce filters.

------------------------------------------------------------
LIMIT RULES
------------------------------------------------------------
- If user gives a number (e.g., “10 buildings”) → use it.
- If user does not specify → limit = null.
- If the user writes exactly "all" → limit = "all".
- If the user says "all buildings", "all houses", etc. → limit = "all".

------------------------------------------------------------
BUFFER RULES
------------------------------------------------------------
- If user says “within X meters”, set buffer_meters = X.
- Otherwise buffer_meters = null.

------------------------------------------------------------
WHERE_CLAUSE RULES
------------------------------------------------------------
Only fill where_clause if the user explicitly says:
- near water
- near river
- near bikeroute
- inside floodzone
- intersect floodzone
- etc.

Otherwise: where_clause = "".

------------------------------------------------------------
FINAL INSTRUCTION
------------------------------------------------------------
Your entire output MUST be a single JSON object following all rules.
No prose. No Markdown. No explanations. Only JSON.

"""


previous_input = None

def plan_spatial_query(nl_query: str) -> dict:
    resp = client.chat.completions.create(
        model=AZURE_OPENAI_DEPLOYMENT,
        messages=[
            {"role": "system", "content": SYSTEM_PROMPT},
            {"role": "user", "content": nl_query},
        ],
        temperature=0.0,
        max_tokens=300,
    )
    raw = resp.choices[0].message.content.strip()
    if raw.startswith("```"):
        raw = raw.strip("`")
        if raw.lower().startswith("json"):
            raw = raw[4:].strip()
    return json.loads(raw)

# Process user input

In [208]:
FIELD_INFO = {
    # ****************************************************
    "operation": (
        "Type of GIS action.\n"
        "Examples:\n"
        "- select_buffer\n"
        "- select_intersect\n"
        "- select_nearest\n"
        "- select_limit_only\n"
        "- select_by_attribute\n"
        "This tells the GIS engine WHAT to do."
    ),

    # ****************************************************
    "layer": (
        "The PRIMARY dataset you want results from.\n"
        "Must match one of the allowed database layers:\n"
        "- buildings\n"
        "- flomsoner\n"
        "- buildings_sample\n"
        "- arealbruk_skogbonitet_sample\n"
        "- flomsoner_sample\n"
        "- sykkelrute_senterlinje_sample\n"
        "- skiloype_senterlinje\n"
        "- annenrute_senterlinje\n"
        "- annenruteinfo_tabell\n"
        "- arealbruk_skogbonitet\n"
        "- fotrute_senterlinje\n"
        "- fotruteinfo_tabell\n"
        "- ruteinfopunkt_posisjon\n"
        "- skiloypeinfo_tabell\n"
        "- sykkelrute_senterlinje\n"
        "- sykkelruteinfo_tabell"
    ),

    # ****************************************************
    "target_layer": (
        "The SECOND dataset used for spatial relation.\n"
        "ONLY required for operations involving two layers (buffer, intersect, nearest).\n"
        "Examples:\n"
        "- layer = buildings\n"
        "- target_layer = sykkelrute_senterlinje  -> buildings near bike routes\n"
        "- target_layer = flomsoner               -> buildings intersect floodzones\n"
        "\nIf operation does not require a second dataset → target_layer must be null."
    ),

    # ****************************************************
    "buffer_meters": (
        "Distance in meters for spatial proximity.\n"
        "Examples:\n"
        "- 50\n"
        "- 100\n"
        "- 200\n"
        "Used only for operations requiring distance (select_buffer, select_near_...)."
    ),

    # ****************************************************
    "limit": (
        "How many results to return.\n"
        "Examples: 5, 10, 50.\n"
            ),
    


    # ****************************************************
    "where_clause": (
        "Optional simple spatial or attribute filter.\n"
        "Only filled when the user explicitly mentions a real filter:\n"
        "- near river\n"
        "- inside floodzone\n"
        "- intersect bikeroute\n"
        "- type = 'house'\n"
        "\nIf user does NOT specify a filter → where_clause = \"\"."
    )
}



def process_user_input(user_input):
    
    clean_text = normalize_query(user_input)

    plan = plan_spatial_query(clean_text)


    lower_input = user_input.lower()
    
    if "all " in lower_input:
        plan["limit"] = "all"
   
    required_fields = ["operation", "layer", "buffer_meters", "limit", "target_layer"]
    missing = []




    
    limit = plan.get("limit")

    if isinstance(limit, str) and limit.lower() == "all":
        plan["limit"] = 100
    else:
        plan["limit"] = limit  

    # Check missing fields
    for f in required_fields:
        if plan.get(f) is None or plan.get(f) == "":
            missing.append(f)

    # If missing → return helpful message
    if missing:
        explanations = "\n".join([f"- {f}: {FIELD_INFO[f]}" for f in missing])

        return (
            f"\n⚠ Missing required field(s): {', '.join(missing)}\n"
            + "\n----------------------------------------\n"
            + f"{explanations}\n"
            + "----------------------------------------\n"
            + f"Your input:\n  {user_input}\n"
            + "----------------------------------------\n"
        )

        

    return plan

# Test the LLM planner

In [195]:

query = "Find 100 residential houses within 200 meters of a river in Kristiansand."
plan = plan_spatial_query(query)
plan

{'operation': 'select_buffer',
 'layer': 'buildings',
 'target_layer': 'flomsoner',
 'buffer_meters': 200,
 'limit': 100,
 'where_clause': ''}

In [196]:

query = "Find all buildings within 100 m of bicycle routes"
plan = plan_spatial_query(query)
plan

{'operation': 'select_buffer',
 'layer': 'buildings',
 'target_layer': 'sykkelrute_senterlinje',
 'buffer_meters': 100,
 'limit': None,
 'where_clause': ''}

# Converts the user’s prompt into an SQL query string.

In [197]:
def plan_to_sql(plan: dict) -> str:
    op = plan["operation"]
    layer = plan["layer"]
    target = plan.get("target_layer")  
    buf = plan.get("buffer_meters")
    limit = plan.get("limit") or 100
    where = plan.get("where_clause") or "TRUE"

    # SELECT LIMIT ONLY
    if op == "select_limit_only":
        return f"""
SELECT *
FROM public.{layer}
LIMIT {limit};
""".strip()

    # SELECT BY ATTRIBUTE
    if op == "select_by_attribute":
        return f"""
SELECT *
FROM public.{layer}
WHERE {where}
LIMIT {limit};
""".strip()

    # BUFFER OPERATION (A near B)
    if op == "select_buffer":
        if not target:
            raise ValueError("select_buffer requires 'target_layer'")
        return f"""
SELECT a.*
FROM public.{layer} a
JOIN (
    SELECT ST_Buffer(geom, {buf}) AS geom
    FROM public.{target}
) t
ON ST_Intersects(a.geom, t.geom)
WHERE {where}
LIMIT {limit};
""".strip()

    # INTERSECT OPERATION (A intersects B)
    if op == "select_intersect":
        if not target:
            raise ValueError("select_intersect requires 'target_layer'")
        return f"""
SELECT a.*
FROM public.{layer} a
JOIN public.{target} b
  ON ST_Intersects(a.geom, b.geom)
WHERE {where}
LIMIT {limit};
""".strip()

    # NEAREST OPERATION (A nearest to B)
    if op == "select_nearest":
        if not target:
            raise ValueError("select_nearest requires 'target_layer'")
        return f"""
SELECT a.*
FROM public.{layer} a
ORDER BY (
    SELECT MIN(ST_Distance(a.geom, b.geom))
    FROM public.{target} b
)
LIMIT {limit};
""".strip()

    # WITHIN POLYGON
    if op == "select_within_polygon":
        polygon = plan["where_clause"]
        return f"""
SELECT *
FROM public.{layer}
WHERE ST_Within(geom, ST_GeomFromText('{polygon}', 4326))
LIMIT {limit};
""".strip()

    raise ValueError(f"Unsupported operation: {op}")

# Connect to the PostGIS database and run the SQL query, returning a DataFrame

In [198]:
import psycopg2
import pandas as pd

def run_postgis_query(sql: str) -> pd.DataFrame:
    conn_str = os.environ["PGCONN_STRING"]
    
    
    with psycopg2.connect(conn_str) as conn:
        
        with conn.cursor() as cur:
            cur.execute(sql)
            rows = cur.fetchall()
            cols = [desc[0] for desc in cur.description]
    return pd.DataFrame(rows, columns=cols)

# Execute the GIS plan in PostGIS and return the result as a DataFrame

In [199]:
def execute_gis_plan_db(plan: dict):
    sql = plan_to_sql(plan)
    df = run_postgis_query(sql)
    return df

# Ask the GIS agent: NL query -> LLM plan -> SQL -> PostGIS -> DataFrame

In [200]:
def ask_gis_agent(query: str) -> pd.DataFrame:



    
    
    plan = process_user_input(query)

    # If the agent returned a string → it's an error message
    if isinstance(plan, str):
        print(plan)
        return None  # STOP HERE

    
    df = execute_gis_plan_db(plan)
    return df

# Send the query to the GIS agent and display the first results

In [182]:

queryy = "Find 100 residential houses within 200 meters of a river in Kristiansand."
plan = plan_spatial_query(query)
plan

{'operation': 'select_buffer',
 'layer': 'buildings',
 'target_layer': 'flomsoner',
 'buffer_meters': 200,
 'limit': 100,
 'where_clause': ''}

In [183]:

queryy = "Find all buildings within 100 m of bicycle routes."
plan = plan_spatial_query(query)
plan

{'operation': 'select_buffer',
 'layer': 'buildings',
 'target_layer': 'flomsoner',
 'buffer_meters': 200,
 'limit': 100,
 'where_clause': ''}

In [201]:
query = "Find 100 residential houses within 200 meters of a river in Kristiansand."
df = ask_gis_agent(query)
df

,gid,osm_id,code,fclass,name,type,geom
0,2623657,954371361,1500,building,None,house,0106000020E96400000100000001030000000100000005...
1,2623658,954371362,1500,building,None,garage,0106000020E96400000100000001030000000100000005...
2,2623706,954371410,1500,building,None,garage,0106000020E96400000100000001030000000100000007...
3,2623763,954371467,1500,building,None,house,0106000020E96400000100000001030000000100000005...
4,2623635,954371339,1500,building,None,house,0106000020E9640000010000000103000000010000000B...
...,...,...,...,...,...,...,...
95,2624955,954372659,1500,building,None,house,0106000020E96400000100000001030000000100000007...
96,2624958,954372662,1500,building,None,house,0106000020E96400000100000001030000000100000009...
97,2624959,954372663,1500,building,None,warehouse,0106000020E96400000100000001030000000100000005...
98,2624962,954372666,1500,building,None,garage,0106000020E96400000100000001030000000100000005...
99,2624968,954372672,1500,building,None,container,0106000020E96400000100000001030000000100000007...

In [209]:
 res = ask_gis_agent("c")
res

⚠ Missing required field(s): operation, layer, buffer_meters, limit, target_layer

----------------------------------------
- operation: Type of GIS action.
Examples:
- select_buffer
- select_intersect
- select_nearest
- select_limit_only
- select_by_attribute
This tells the GIS engine WHAT to do.
- layer: The PRIMARY dataset you want results from.
Must match one of the allowed database layers:
- buildings
- flomsoner
- buildings_sample
- arealbruk_skogbonitet_sample
- flomsoner_sample
- sykkelrute_senterlinje_sample
- skiloype_senterlinje
- annenrute_senterlinje
- annenruteinfo_tabell
- arealbruk_skogbonitet
- fotrute_senterlinje
- fotruteinfo_tabell
- ruteinfopunkt_posisjon
- skiloypeinfo_tabell
- sykkelrute_senterlinje
- sykkelruteinfo_tabell
- buffer_meters: Distance in meters for spatial proximity.
Examples:
- 50
- 100
- 200
Used only for operations requiring distance (select_buffer, select_near_...).
- limit: How many results to return.
Examples: 5, 10, 50.

- target_layer: The SECOND dataset used for spatial relation.
ONLY required for operations involving two layers (buffer, intersect, nearest).
Examples:
- layer = buildings
- target_layer = sykkelrute_senterlinje  -> buildings near bike routes
- target_layer = flomsoner               -> buildings intersect floodzones

If operation does not require a second dataset → target_layer must be null.
----------------------------------------
Your input:
  c
----------------------------------------

# Simple CLI chat loop that sends user queries to the GIS agent and prints the results

In [206]:
def chat_loop():
    # previous_input = None
    print("GIS agent chat – type 'quit' to stop.\n")

    while True:
        user_q = input("You: ").strip()
        
        print("'''''''''''''''''''''''''''''''''''''''''''")
    


        if user_q.lower() in ("quit", "exit", "q"):
            print("Welcome back")
            break


        # if user_q in ["new", "restart", "rest"]:
        #     previous_input = None
        #     continue

        # # If we had missing fields earlier → append the new text
        # if previous_input is not None:
        #     combined = previous_input + " " + user_q
        #     user_q = combined

        result = ask_gis_agent(user_q)

       # If result is an error string → print it
        if isinstance(result, str):
            print(result)
            continue
        
        # Otherwise print DataFrame

        display(result)

        # previous_input = None  # reset when success
chat_loop()

GIS agent chat – type 'quit' to stop.

You:  Find all buildings within 100 m of bicycle routes.

'''''''''''''''''''''''''''''''''''''''''''

,gid,osm_id,code,fclass,name,type,geom
0,2624367,954372071,1500,building,None,house,0106000020E96400000100000001030000000100000009...
1,2624369,954372073,1500,building,None,garage,0106000020E96400000100000001030000000100000005...
2,2624370,954372074,1500,building,None,garage,0106000020E96400000100000001030000000100000005...
3,2624374,954372078,1500,building,None,house,0106000020E96400000100000001030000000100000013...
4,2624460,954372164,1500,building,None,garage,0106000020E96400000100000001030000000100000005...
...,...,...,...,...,...,...,...
95,3474309,1004848000,1500,building,None,shed,0106000020E96400000100000001030000000100000005...
96,3474310,1004848001,1500,building,None,cabin,0106000020E96400000100000001030000000100000007...
97,3465500,1004839178,1500,building,None,None,0106000020E96400000100000001030000000100000005...
98,3465501,1004839179,1500,building,None,cabin,0106000020E96400000100000001030000000100000005...
99,214919,187639370,1500,building,Deanu Sàmeskuvla,school,0106000020E96400000100000001030000000100000042...

You:  q

'''''''''''''''''''''''''''''''''''''''''''
Welcome back

In [192]:
def chat_loop():
    print("GIS agent chat – type 'quit' to stop.\n")

    while True:
        user_q = input("You: ").strip()
        
        print("'''''''''''''''''''''''''''''''''''''''''''")

        if user_q.lower() in ("quit", "exit", "q"):
            print("Welcome back")
            break

        result = ask_gis_agent(user_q)

        # Missing fields → now result contains the error message (string)
        if isinstance(result, str):
            print(result)
            continue

        print(result)
chat_loop()

GIS agent chat – type 'quit' to stop.

You:  Find all buildings within 100 m of bicycle routes

'''''''''''''''''''''''''''''''''''''''''''
        gid      osm_id  code    fclass              name    type  \
0   2624367   954372071  1500  building              None   house
1   2624369   954372073  1500  building              None  garage
2   2624370   954372074  1500  building              None  garage
3   2624374   954372078  1500  building              None   house
4   2624460   954372164  1500  building              None  garage
..      ...         ...   ...       ...               ...     ...
95  3474309  1004848000  1500  building              None    shed
96  3474310  1004848001  1500  building              None   cabin
97  3465500  1004839178  1500  building              None    None
98  3465501  1004839179  1500  building              None   cabin
99   214919   187639370  1500  building  Deanu Sàmeskuvla  school

                                                 geom
0   0106000020E96400000100000001030000000100000009...
1   0106000020E96400000100000001030000000100000005...
2   0106000020E96400000100000001030000000100000005...
3   0106000020E96400000100000001030000000100000013...
4   0106000020E96400000100000001030000000100000005...
..                                                ...
95  0106000020E96400000100000001030000000100000005...
96  0106000020E96400000100000001030000000100000007...
97  0106000020E96400000100000001030000000100000005...
98  0106000020E96400000100000001030000000100000005...
99  0106000020E96400000100000001030000000100000042...

[100 rows x 7 columns]

You:  q

'''''''''''''''''''''''''''''''''''''''''''
Welcome back

In [168]:
import psycopg2
import pandas as pd

def run_postgis_query(sql: str) -> pd.DataFrame:
    conn_str = os.environ["PGCONN_STRING"]
    
    
    with psycopg2.connect(conn_str) as conn:
        
        with conn.cursor() as cur:
            cur.execute(sql)
            rows = cur.fetchall()
            cols = [desc[0] for desc in cur.description]
    return pd.DataFrame(rows, columns=cols)

In [169]:
run_postgis_query("""
SELECT table_schema, table_name 
FROM information_schema.tables 
WHERE table_schema='public';
""")

   table_schema                     table_name
0        public                      buildings
1        public                      flomsoner
2        public               buildings_sample
3        public   arealbruk_skogbonitet_sample
4        public               flomsoner_sample
5        public  sykkelrute_senterlinje_sample
6        public           skiloype_senterlinje
7        public          annenrute_senterlinje
8        public           annenruteinfo_tabell
9        public          arealbruk_skogbonitet
10       public            fotrute_senterlinje
11       public             fotruteinfo_tabell
12       public         ruteinfopunkt_posisjon
13       public            skiloypeinfo_tabell
14       public                spatial_ref_sys
15       public         sykkelrute_senterlinje
16       public          sykkelruteinfo_tabell
17       public              geography_columns
18       public               geometry_columns

In [170]:
run_postgis_query("""
SELECT column_name, data_type 
FROM information_schema.columns 
WHERE table_name='buildings';
""")

  column_name          data_type
0        code            integer
1         gid            integer
2        geom       USER-DEFINED
3        type  character varying
4      fclass  character varying
5      osm_id  character varying
6        name  character varying

In [171]:
run_postgis_query("SELECT * FROM buildings LIMIT 50;")

,gid,osm_id,code,fclass,name,type,geom
0,506461,508534831,1500,building,None,apartments,0106000020E96400000100000001030000000100000005...
1,506462,508534832,1500,building,None,apartments,0106000020E96400000100000001030000000100000027...
2,506463,508534833,1500,building,None,apartments,0106000020E9640000010000000103000000010000001B...
3,506464,508534834,1500,building,None,detached,0106000020E96400000100000001030000000100000009...
4,506465,508534835,1500,building,None,retail,0106000020E96400000100000001030000000100000007...
5,506466,508534836,1500,building,Salmakergården,apartments,0106000020E96400000100000001030000000100000017...
6,506467,508534837,1500,building,None,None,0106000020E96400000100000001030000000100000009...
7,506468,508534840,1500,building,None,detached,0106000020E96400000100000001030000000100000009...
8,506469,508534841,1500,building,None,detached,0106000020E96400000100000001030000000100000005...
9,506470,508534842,1500,building,None,detached,0106000020E96400000100000001030000000100000009...
10,506471,508534843,1500,building,None,commercial,0106000020E9640000010000000103000000010000000F...
11,506472,508534844,1500,building,None,detached,0106000020E96400000100000001030000000100000009...
12,506473,508534846,1500,building,None,detached,0106000020E9640000010000000103000000010000000B...
13,506474,508534847,1500,building,None,detached,0106000020E96400000100000001030000000100000007...
14,506475,508534848,1500,building,None,detached,0106000020E96400000100000001030000000100000005...
15,506476,508534849,1500,building,None,detached,0106000020E96400000100000001030000000100000007...
16,506477,508534850,1500,building,None,residential,0106000020E96400000100000001030000000100000009...
17,506478,508534851,1500,building,None,residential,0106000020E9640000010000000103000000010000000D...
18,506479,508534852,1500,building,None,detached,0106000020E96400000100000001030000000100000009...
19,506480,508534853,1500,building,None,garage,0106000020E96400000100000001030000000100000005...
20,506481,508534856,1500,building,None,detached,0106000020E9640000010000000103000000010000000B...
21,506482,508534857,1500,building,None,garage,0106000020E96400000100000001030000000100000005...
22,506483,508534858,1500,building,None,detached,0106000020E96400000100000001030000000100000009...
23,506484,508534860,1500,building,None,detached,0106000020E96400000100000001030000000100000009...
24,506485,508534861,1500,building,None,garage,0106000020E96400000100000001030000000100000005...
25,506486,508534862,1500,building,None,garage,0106000020E96400000100000001030000000100000005...
26,506487,508534863,1500,building,None,detached,0106000020E96400000100000001030000000100000005...
27,506488,508534864,1500,building,None,detached,0106000020E96400000100000001030000000100000005...
28,507209,510301747,1500,building,None,garage,0106000020E96400000100000001030000000100000005...
29,506489,508534866,1500,building,None,semidetached_house,0106000020E96400000100000001030000000100000015...
30,506490,508534867,1500,building,None,residential,0106000020E96400000100000001030000000100000009...
31,506491,508534868,1500,building,None,detached,0106000020E96400000100000001030000000100000007...
32,506492,508534869,1500,building,None,detached,0106000020E96400000100000001030000000100000009...
33,506493,508534870,1500,building,None,garage,0106000020E96400000100000001030000000100000005...
34,506494,508534871,1500,building,None,detached,0106000020E96400000100000001030000000100000009...
35,506495,508534872,1500,building,None,detached,0106000020E9640000010000000103000000010000000B...
36,506496,508534873,1500,building,None,garage,0106000020E96400000100000001030000000100000009...
37,506497,508534874,1500,building,None,detached,0106000020E9640000010000000103000000010000000B...
38,506498,508534875,1500,building,None,carport,0106000020E96400000100000001030000000100000005...
39,506499,508534876,1500,building,None,detached,0106000020E96400000100000001030000000100000009...
40,506500,508534877,1500,building,None,carport,0106000020E96400000100000001030000000100000005...
41,506501,508534878,1500,building,None,None,0106000020E96400000100000001030000000100000034...
42,506502,508534879,1500,building,None,civic,0106000020E9640000010000000103000000010000007B...
43,506503,508534880,1500,building,None,civic,0106000020E9640000010000000103000000010000001B...
44,506504,508535505,1500,building,None,residential,0106000020E96400000100000001030000000100000007...
45,506505,508535506,1500,building,None,detached,0106000020E9640000010000000103000000010000000D...
46,506506,508535507,1500,building,None,detached,0106000020E9640000010000000103000000010000000D...
47,506507,508535508,1500,building,None,detached,0106000020E96400000100000001030000000100000009...
48,507210,510301749,1500,building,None,cabin,0106000020E96400000100000001030000000100000005...
49,506508,508535509,1500,building,None,detached,0106000020E9640000010000000103000000010000000B...

In [174]:
run_postgis_query("""
SELECT b.*
FROM public.buildings b
JOIN public.sykkelrute_senterlinje r
  ON ST_DWithin(b.geom, r.geom, 100)
LIMIT 50;
""")

,gid,osm_id,code,fclass,name,type,geom
0,506461,508534831,1500,building,None,apartments,0106000020E96400000100000001030000000100000005...
1,506462,508534832,1500,building,None,apartments,0106000020E96400000100000001030000000100000027...
2,506462,508534832,1500,building,None,apartments,0106000020E96400000100000001030000000100000027...
3,506463,508534833,1500,building,None,apartments,0106000020E9640000010000000103000000010000001B...
4,506463,508534833,1500,building,None,apartments,0106000020E9640000010000000103000000010000001B...
5,506464,508534834,1500,building,None,detached,0106000020E96400000100000001030000000100000009...
6,506465,508534835,1500,building,None,retail,0106000020E96400000100000001030000000100000007...
7,506466,508534836,1500,building,Salmakergården,apartments,0106000020E96400000100000001030000000100000017...
8,506467,508534837,1500,building,None,None,0106000020E96400000100000001030000000100000009...
9,506467,508534837,1500,building,None,None,0106000020E96400000100000001030000000100000009...
10,506468,508534840,1500,building,None,detached,0106000020E96400000100000001030000000100000009...
11,506469,508534841,1500,building,None,detached,0106000020E96400000100000001030000000100000005...
12,506470,508534842,1500,building,None,detached,0106000020E96400000100000001030000000100000009...
13,506471,508534843,1500,building,None,commercial,0106000020E9640000010000000103000000010000000F...
14,506471,508534843,1500,building,None,commercial,0106000020E9640000010000000103000000010000000F...
15,506472,508534844,1500,building,None,detached,0106000020E96400000100000001030000000100000009...
16,506472,508534844,1500,building,None,detached,0106000020E96400000100000001030000000100000009...
17,506473,508534846,1500,building,None,detached,0106000020E9640000010000000103000000010000000B...
18,506473,508534846,1500,building,None,detached,0106000020E9640000010000000103000000010000000B...
19,506474,508534847,1500,building,None,detached,0106000020E96400000100000001030000000100000007...
20,506474,508534847,1500,building,None,detached,0106000020E96400000100000001030000000100000007...
21,506475,508534848,1500,building,None,detached,0106000020E96400000100000001030000000100000005...
22,506475,508534848,1500,building,None,detached,0106000020E96400000100000001030000000100000005...
23,506476,508534849,1500,building,None,detached,0106000020E96400000100000001030000000100000007...
24,506476,508534849,1500,building,None,detached,0106000020E96400000100000001030000000100000007...
25,506477,508534850,1500,building,None,residential,0106000020E96400000100000001030000000100000009...
26,506477,508534850,1500,building,None,residential,0106000020E96400000100000001030000000100000009...
27,506478,508534851,1500,building,None,residential,0106000020E9640000010000000103000000010000000D...
28,506478,508534851,1500,building,None,residential,0106000020E9640000010000000103000000010000000D...
29,506479,508534852,1500,building,None,detached,0106000020E96400000100000001030000000100000009...
30,506479,508534852,1500,building,None,detached,0106000020E96400000100000001030000000100000009...
31,506480,508534853,1500,building,None,garage,0106000020E96400000100000001030000000100000005...
32,506480,508534853,1500,building,None,garage,0106000020E96400000100000001030000000100000005...
33,506481,508534856,1500,building,None,detached,0106000020E9640000010000000103000000010000000B...
34,506481,508534856,1500,building,None,detached,0106000020E9640000010000000103000000010000000B...
35,506482,508534857,1500,building,None,garage,0106000020E96400000100000001030000000100000005...
36,506482,508534857,1500,building,None,garage,0106000020E96400000100000001030000000100000005...
37,506483,508534858,1500,building,None,detached,0106000020E96400000100000001030000000100000009...
38,506483,508534858,1500,building,None,detached,0106000020E96400000100000001030000000100000009...
39,506484,508534860,1500,building,None,detached,0106000020E96400000100000001030000000100000009...
40,506484,508534860,1500,building,None,detached,0106000020E96400000100000001030000000100000009...
41,506485,508534861,1500,building,None,garage,0106000020E96400000100000001030000000100000005...
42,506485,508534861,1500,building,None,garage,0106000020E96400000100000001030000000100000005...
43,506486,508534862,1500,building,None,garage,0106000020E96400000100000001030000000100000005...
44,506486,508534862,1500,building,None,garage,0106000020E96400000100000001030000000100000005...
45,506487,508534863,1500,building,None,detached,0106000020E96400000100000001030000000100000005...
46,506487,508534863,1500,building,None,detached,0106000020E96400000100000001030000000100000005...
47,506488,508534864,1500,building,None,detached,0106000020E96400000100000001030000000100000005...
48,506488,508534864,1500,building,None,detached,0106000020E96400000100000001030000000100000005...
49,506490,508534867,1500,building,None,residential,0106000020E96400000100000001030000000100000009...

In [175]:
run_postgis_query("SELECT * FROM sykkelrute_senterlinje LIMIT 50;")

,gid,objtype,skilting,anleggsnummer,uukoblingsid,belysning,lokalid,navnerom,versjonid,datafangstdato,...,informasjon,merking,rutefolger,underlagstype,rutebredde,trafikkbelastning,sesong,malemetode,shape_length,geom
0,1,Sykkelrute,,None,None,,02989546-4938-49c9-9405-906bafc7c54a,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,1971-09-09 00:00:00+00:00,...,Generert fra Traktorvegkant,JA,TR,None,None,None,,60,523.414390,0105000020E9640000010000000102000000DF00000000...
1,2,Sykkelrute,,None,None,,090afebf-7920-4765-965e-c16024d70146,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,1998-06-08 00:00:00+00:00,...,None,JA,BV,None,None,None,,22,3194.542971,0105000020E964000001000000010200000079000000D0...
2,3,Sykkelrute,,None,None,,0ea52391-5f2e-4bc1-aacd-2f7a6aeb0b38,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,2009-11-18 00:00:00+00:00,...,Kombinert med sykkelrute,JA,GS,None,None,None,,60,32.429166,0105000020E96400000100000001020000000700000040...
3,4,Sykkelrute,,None,None,,386f947d-5bc1-45f0-8f5b-0a6124459861,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,2014-09-17 00:00:00+00:00,...,None,JA,ST,None,None,None,,24,171.768400,0105000020E96400000100000001020000001F00000000...
4,5,Sykkelrute,,None,None,,253e48ab-d5e7-42b9-83f9-3a48c531e6cd,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,2012-08-10 00:00:00+00:00,...,None,JA,TR,None,None,None,,24,35.215468,0105000020E96400000100000001020000000700000090...
5,6,Sykkelrute,,None,None,,3132db05-8e9a-4e53-a5fd-fb87df5d337e,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,1996-06-13 00:00:00+00:00,...,None,JA,BV,None,None,None,,22,384.713777,0105000020E964000001000000010200000018000000E8...
6,7,Sykkelrute,,None,None,,12f58116-95e9-404b-ae98-4715e978914c,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,1997-07-01 00:00:00+00:00,...,None,JA,ST,None,None,None,,22,3436.603532,0105000020E96400000100000001020000007C00000010...
7,8,Sykkelrute,,None,None,,157295ca-bd66-4fb3-b143-c7ec714b068b,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,2016-08-09 00:00:00+00:00,...,None,JA,ST,None,None,None,,92,1263.105798,0105000020E964000001000000010200000076000000A8...
8,9,Sykkelrute,,None,None,,19bea04d-34f8-4f49-b4b7-67c5e6884357,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,2008-08-19 00:00:00+00:00,...,None,JA,TR,None,None,None,,24,1255.101054,0105000020E96400000100000001020000008300000010...
9,10,Sykkelrute,,None,None,,97bd7a36-8f28-4f5e-9f4c-b39aeee3f41f,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,2014-09-17 00:00:00+00:00,...,None,JA,ST,None,None,None,,24,146.498739,0105000020E96400000100000001020000001300000010...
10,11,Sykkelrute,,None,None,,9b4254e1-c494-4a05-99e7-0d43ab109d4b,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,1997-09-01 00:00:00+00:00,...,Kombinert med sykkelrute,JA,BV,None,None,None,,95,5225.848806,0105000020E9640000010000000102000000A7040000E8...
11,12,Sykkelrute,,None,None,,9c987062-6fe1-4ffe-a93e-82995a5f9da7,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,1998-09-01 00:00:00+00:00,...,None,JA,BV,None,None,None,,22,9939.234457,0105000020E96400000100000001020000000802000098...
12,13,Sykkelrute,,None,None,,3a0f7643-7c66-4e7c-8975-04bb8fd09fb2,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,2012-08-10 00:00:00+00:00,...,None,JA,TR,None,None,None,,24,37.943947,0105000020E96400000100000001020000000B00000090...
13,14,Sykkelrute,,None,None,,79d1c75f-15d4-47c0-a710-281df9d6b51f,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,1993-06-19 00:00:00+00:00,...,"Geometri hentet fra Vbase, 20170922",JA,SB,None,None,None,,95,10821.268389,0105000020E964000001000000010200000004090000D0...
14,15,Sykkelrute,,None,None,,1a19172d-86e5-41a6-bbbe-00dff22a257f,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,2006-08-20 00:00:00+00:00,...,None,JA,TR,None,None,None,,24,2593.619339,0105000020E9640000010000000102000000BD000000F8...
15,16,Sykkelrute,,None,None,JA,230d3e52-9e25-4e6b-986c-6b9d663cdbec,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,2011-08-02 00:00:00+00:00,...,None,JA,ST,None,None,None,,24,717.073237,0105000020E96400000100000001020000006E00000050...
16,17,Sykkelrute,,None,None,,2a1c4691-6d40-4c49-bee0-2e8369304d8e,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,2006-08-20 00:00:00+00:00,...,None,JA,ST,None,None,None,,24,1933.833499,0105000020E96400000100000001020000004100000078...
17,18,Sykkelrute,,None,None,JA,2d2b6f85-60d7-4cca-b2cb-a0fa8de7c6f9,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,2011-08-02 00:00:00+00:00,...,None,JA,ST,None,None,None,,24,137.148109,0105000020E96400000100000001020000000D000000A8...
18,19,Sykkelrute,,None,None,,3017c95b-5b54-4c20-862b-29d51faa195f,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,1974-09-16 00:00:00+00:00,...,Kombinert med sykkelrute,JA,ST,None,None,None,,56,281.307439,0105000020E964000001000000010200000007000000C0...
19,20,Sykkelrute,,None,None,,a76b0a23-177d-457c-85b8-6e6bb81514e8,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,2015-06-25 00:00:00+00:00,...,None,JA,ST,None,None,None,,92,170.159237,0105000020E96400000100000001020000000B00000048...
20,21,Sykkelrute,,None,None,,3bac46c6-923e-43aa-9d6b-687d918bfd51,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,2016-07-11 00:00:00+00:00,...,None,JA,ST,None,None,None,,82,180.597436,0105000020E96400000100000001020000000600000068...
21,22,Sykkelrute,,None,None,,1f12c439-c254-4cfa-86cd-2ea59ed70894,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,1971-09-09 00:00:00+00:00,...,None,JA,ST,None,None,None,,32,1494.946120,0105000020E96400000100000001020000009B01000000...
22,23,Sykkelrute,,None,None,,38417ddc-6aa4-452d-8893-c465fb608daf,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,2014-09-17 00:00:00+00:00,...,None,JA,ST,None,None,None,,24,343.614908,0105000020E96400000100000001020000003700000078...
23,24,Sykkelrute,JA,None,None,,bc779fab-10bd-4411-996e-07d2bf108d25,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,2014-06-24 00:00:00+00:00,...,"Geometri hentet fra Vbase, 20210628",JA,BV,None,None,None,,22,5233.551590,0105000020E9640000010000000102000000F004000020...
24,25,Sykkelrute,,None,None,,3a36268d-8d80-483b-9d00-7d6bef2c236c,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,1998-04-21 00:00:00+00:00,...,None,JA,BV,None,None,None,,22,2572.981225,0105000020E96400000100000001020000008A000000C0...
25,26,Sykkelrute,,None,None,,422170be-8010-4508-9df5-ae950e4ea89b,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,2005-07-01 00:00:00+00:00,...,None,JA,BV,None,None,None,,24,116.626200,0105000020E96400000100000001020000002500000028...
26,27,Sykkelrute,,None,None,,46b62424-3eb1-468f-80fc-fe325b6d885e,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,2015-06-25 00:00:00+00:00,...,None,JA,ST,None,None,None,,92,433.723367,0105000020E964000001000000010200000022000000B8...
27,28,Sykkelrute,,None,None,,475b67b3-caef-4e38-a102-46044e10de9f,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,1971-09-09 00:00:00+00:00,...,Generert fra Traktorvegkant,JA,TR,None,None,None,,60,2841.585156,0105000020E96400000100000001020000004C050000D8...
28,29,Sykkelrute,,None,None,,4d4d0f73-f037-49dc-b45a-810ffa2cfd63,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,1997-09-01 00:00:00+00:00,...,Kombinert med sykkelrute,JA,BV,None,None,None,,95,435.476919,0105000020E96400000100000001020000005800000090...
29,30,Sykkelrute,,None,None,,4dfec8b4-4b30-4e69-abdb-25908dc39b09,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,2009-07-25 00:00:00+00:00,...,Kombinert med sykkelrute,JA,TR,None,None,None,,24,123.735238,0105000020E96400000100000001020000000F000000B0...
30,31,Sykkelrute,,None,None,,6fd6f939-12ba-4778-be88-c20986f87cfc,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,2012-08-10 00:00:00+00:00,...,None,JA,TR,None,None,None,,24,577.400108,0105000020E964000001000000010200000053000000B0...
31,32,Sykkelrute,,None,None,,51629fd7-06bb-49f4-8304-af7a7065272a,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,2006-08-20 00:00:00+00:00,...,None,JA,TR,None,None,None,,92,6514.614623,0105000020E9640000010000000102000000A6000000A0...
32,33,Sykkelrute,,None,None,,53245042-e33e-4441-a5e5-852b8dbecfaa,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,2006-07-01 00:00:00+00:00,...,None,JA,TR,None,None,None,,24,188.877251,0105000020E96400000100000001020000000E00000068...
33,34,Sykkelrute,,None,None,,56ce75a6-1b7e-4ff5-a68f-2ce922283586,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,1997-07-01 00:00:00+00:00,...,None,JA,TR,None,None,None,,22,202.939138,0105000020E964000001000000010200000009000000C0...
34,35,Sykkelrute,,None,None,,5df59a88-14b6-4816-8ee0-5e35c311d8ec,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,2015-06-25 00:00:00+00:00,...,None,JA,ST,None,None,None,,92,223.069272,0105000020E964000001000000010200000008000000B0...
35,36,Sykkelrute,,None,None,,6326ecc3-d3c3-49e3-929e-143cd646ae3b,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,2014-07-20 00:00:00+00:00,...,None,JA,ST,None,None,None,,92,1185.298044,0105000020E96400000100000001020000002B000000A8...
36,37,Sykkelrute,,None,None,,650a9ae9-d5ee-4d71-a8f5-837b57954fea,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,1974-09-16 00:00:00+00:00,...,Kombinert med sykkelrute,JA,ST,None,None,None,,56,1172.859385,0105000020E96400000100000001020000003900000068...
37,38,Sykkelrute,,None,None,,7275e77e-e95a-4042-8179-2507a8bb0d8c,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,2012-08-10 00:00:00+00:00,...,None,JA,TR,None,None,None,,45,16.694978,0105000020E96400000100000001020000000500000050...
38,39,Sykkelrute,,None,None,,7bb313b2-1e17-49a7-b921-dd2abdf615b2,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,2012-08-10 00:00:00+00:00,...,None,JA,ST,None,None,None,,45,46.017486,0105000020E964000001000000010200000003000000E0...
39,40,Sykkelrute,,None,None,,b74a4bbd-268d-41a0-8405-1ff010ffcfee,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,1998-06-15 00:00:00+00:00,...,None,JA,BV,None,None,None,,23,478.280769,0105000020E96400000100000001020000002800000020...
40,41,Sykkelrute,,None,None,,fa8b9884-54b4-4470-8a50-b9643ce9fc70,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,2016-11-29 00:00:00+00:00,...,None,JA,ST,None,None,None,,92,126.331181,0105000020E96400000100000001020000000C000000F0...
41,42,Sykkelrute,,None,None,,6afff19c-2013-4e7b-a404-4baf7b1fd02b,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,2005-07-04 00:00:00+00:00,...,Kombinert med sykkelrute og med barmarksløype,JA,TR,None,None,None,,92,7448.728884,0105000020E9640000010000000102000000AC000000E0...
42,43,Sykkelrute,,None,None,,6c101e0c-e0ab-4b79-8359-4966c329a735,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,1997-09-02 00:00:00+00:00,...,Kombinert med sykkelrute,JA,BV,None,None,None,,95,638.162706,0105000020E964000001000000010200000079000000B0...
43,44,Sykkelrute,,None,None,,6c598856-c94c-4365-8096-d04a45ae143c,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,1995-06-15 00:00:00+00:00,...,Kombinert med sykkelrute,JA,,None,None,None,,22,12.505812,0105000020E96400000100000001020000000200000010...
44,45,Sykkelrute,,None,None,,747600b1-3169-4921-a004-be3cc25352f3,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,1997-07-01 00:00:00+00:00,...,None,JA,ST,None,None,None,,22,114.638779,0105000020E96400000100000001020000000A000000A0...
45,46,Sykkelrute,,None,None,,7526e9d1-fe60-43d1-85a1-c5e018d87eeb,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,2014-09-17 00:00:00+00:00,...,None,JA,TR,None,None,None,,24,393.818722,0105000020E964000001000000010200000044000000E8...
46,47,Sykkelrute,,None,None,,7ac1a794-6ddc-4516-b813-41f7178157fa,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,2015-09-01 00:00:00+00:00,...,None,JA,ST,None,None,None,,92,1646.277412,0105000020E96400000100000001020000002200000008...
47,48,Sykkelrute,,None,None,,313d6a97-b824-4742-b12b-d38ea14254fa,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,2012-08-10 00:00:00+00:00,...,None,JA,ST,None,None,None,,82,39.744998,0105000020E964000001000000010200000002000000B0...
48,49,Sykkelrute,,None,None,,7db5c5c4-632c-4ee8-984d-91bcfc269475,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,1974-09-14 00:00:00+00:00,...,None,JA,ST,None,None,None,,32,614.564863,0105000020E9640000010000000102000000B500000008...
49,50,Sykkelrute,,None,None,,8018a4ba-23a1-43c0-95f7-f69d4f0df4b4,http://data.geonorge.no/TurruterNGIS/Turruter/so,2023-10-25 11:30:57.527772000,1971-09-09 00:00:00+00:00,...,None,JA,ST,None,None,None,,32,202.943782,0105000020E96400000100000001020000003E00000080...

In [176]:

run_postgis_query("SELECT * FROM flomsoner LIMIT 50;")

,gid,objid,objtype,lavpunkt,gjentaksintervall,forstedigitaliseringsdato,noyaktighet,noyaktighethoyde,statusdato,flomsoneid,...,versjonid,datauttaksdato,opphav,symbolflom,malemetode,malemetodehoyde,statuskartlegging,shape_length,shape_area,geom
0,1,1,FlomAreal,0,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,1,61,None,1,35.001523,87.041427,0106000020E9640000010000000103000000010000001D...
1,2,2,FlomAreal,0,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,1,61,None,1,83.620072,177.187296,0106000020E96400000100000001030000000100000038...
2,3,3,FlomAreal,0,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,1,61,None,1,50.070632,105.886299,0106000020E96400000100000001030000000100000032...
3,4,4,FlomAreal,0,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,1,61,None,1,71.986928,249.904775,0106000020E96400000100000001030000000100000023...
4,5,5,FlomAreal,0,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,1,61,None,1,150.904263,523.842873,0106000020E96400000100000001030000000100000078...
5,6,6,FlomAreal,0,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,1,61,None,1,2206.783609,27629.307678,0106000020E96400000100000001030000000100000095...
6,7,7,FlomAreal,0,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,1,61,None,1,42.220974,108.129053,0106000020E96400000100000001030000000100000013...
7,8,8,FlomAreal,0,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,1,61,None,1,1784.441617,46832.829341,0106000020E96400000100000001030000000300000033...
8,9,9,FlomAreal,0,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,1,61,None,1,14687.411504,936949.009108,0106000020E9640000010000000103000000100000006D...
9,10,10,FlomAreal,0,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,1,61,None,1,5360.759072,430969.374874,0106000020E96400000100000001030000000800000080...
10,11,11,FlomAreal,0,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,1,61,None,1,6368.120313,112294.561867,0106000020E9640000010000000103000000090000000B...
11,12,12,FlomAreal,0,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,1,61,None,1,2046.202558,47145.546223,0106000020E964000001000000010300000001000000CC...
12,13,9423,FlomAreal,0,10,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:03:06+00:00,NVE,1,61,None,1,59.986581,146.810188,0106000020E9640000010000000103000000010000001C...
13,14,13,FlomAreal,0,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,1,61,None,1,280.761293,681.170439,0106000020E96400000100000001030000000100000038...
14,15,14,FlomAreal,0,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,1,61,None,1,45.320813,106.371015,0106000020E9640000010000000103000000010000003B...
15,16,9424,FlomAreal,0,10,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:03:06+00:00,NVE,1,61,None,1,52.661966,170.158978,0106000020E9640000010000000103000000010000002A...
16,17,9490,FlomAreal,1,10,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:03:06+00:00,NVE,2,61,None,1,111.073527,650.097513,0106000020E96400000100000001030000000100000025...
17,18,15,FlomAreal,0,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,1,61,None,1,459.150080,9321.486673,0106000020E964000001000000010300000001000000A9...
18,19,16,FlomAreal,0,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,1,61,None,1,7908.572429,594527.317177,0106000020E96400000100000001030000000A00000083...
19,20,17,FlomAreal,0,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,1,61,None,1,19884.419856,774962.199419,0106000020E96400000100000001030000000D000000AB...
20,21,18,FlomAreal,1,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,2,61,None,1,45.805938,124.684496,0106000020E96400000100000001030000000100000017...
21,22,15827,FlomAreal,0,10,2006-08-31 00:00:00+00:00,36,None,2006-08-31 00:00:00+00:00,fs012_6,...,1.1,2025-03-16 09:04:05+00:00,NVE,1,61,None,1,1552.628930,11611.299973,0106000020E9640000010000000103000000010000005C...
22,23,19,FlomAreal,1,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,2,61,None,1,82.379757,249.297525,0106000020E96400000100000001030000000100000029...
23,24,20,FlomAreal,1,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,2,61,None,1,62.750789,160.764944,0106000020E9640000010000000103000000010000001D...
24,25,21,FlomAreal,1,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,2,61,None,1,40.398328,109.715392,0106000020E96400000100000001030000000100000016...
25,26,22,FlomAreal,1,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,2,61,None,1,52.551838,162.309378,0106000020E9640000010000000103000000010000001F...
26,27,23,FlomAreal,1,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,2,61,None,1,47.852065,143.728551,0106000020E96400000100000001030000000100000023...
27,28,24,FlomAreal,1,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,2,61,None,1,147.461387,652.200864,0106000020E9640000010000000103000000010000006A...
28,29,9425,FlomAreal,0,10,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:03:06+00:00,NVE,1,61,None,1,50.818092,89.431014,0106000020E9640000010000000103000000010000002F...
29,30,9491,FlomAreal,1,10,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:03:06+00:00,NVE,2,61,None,1,59.140974,155.384183,0106000020E96400000100000001030000000100000019...
30,31,9527,FlomAreal,0,10,2006-05-26 00:00:00+00:00,36,None,2006-06-06 00:00:00+00:00,fs234_2,...,1.1,2025-03-16 09:03:07+00:00,NVE,1,61,None,1,61.106933,82.984977,0106000020E9640000010000000103000000010000001B...
31,32,20220,FlomAreal,0,10,2003-12-31 00:00:00+00:00,36,None,2006-06-20 00:00:00+00:00,fs212_1,...,1.1,2025-03-16 09:04:52+00:00,NVE,1,61,None,1,1870.109462,13111.250211,0106000020E964000001000000010300000001000000DB...
32,33,25,FlomAreal,1,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,2,61,None,1,268.112128,1105.583204,0106000020E964000001000000010300000001000000F5...
33,34,26,FlomAreal,1,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,2,61,None,1,60.658196,269.259350,0106000020E9640000010000000103000000010000001B...
34,35,9426,FlomAreal,0,10,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:03:06+00:00,NVE,1,61,None,1,279.535093,755.101953,0106000020E964000001000000010300000001000000C2...
35,36,27,FlomAreal,1,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,2,61,None,1,682.488915,12607.281704,0106000020E96400000100000001030000000100000031...
36,37,28,FlomAreal,1,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,2,61,None,1,66.600449,213.148937,0106000020E96400000100000001030000000100000028...
37,38,29,FlomAreal,1,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,2,61,None,1,72.021515,207.346528,0106000020E96400000100000001030000000100000017...
38,39,30,FlomAreal,1,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,2,61,None,1,92.718808,412.528185,0106000020E9640000010000000103000000010000001C...
39,40,31,FlomAreal,1,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,2,61,None,1,48.403040,167.972080,0106000020E9640000010000000103000000010000001D...
40,41,9427,FlomAreal,0,10,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:03:06+00:00,NVE,1,61,None,1,1836.455169,20209.836475,0106000020E96400000100000001030000000300000061...
41,42,32,FlomAreal,1,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,2,61,None,1,140.252243,738.589425,0106000020E96400000100000001030000000100000056...
42,43,33,FlomAreal,1,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,2,61,None,1,47.520834,108.539348,0106000020E96400000100000001030000000100000017...
43,44,34,FlomAreal,1,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,2,61,None,1,63.682335,285.756755,0106000020E9640000010000000103000000010000001F...
44,45,35,FlomAreal,1,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,2,61,None,1,59.465896,243.864284,0106000020E9640000010000000103000000010000001B...
45,46,36,FlomAreal,1,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,2,61,None,1,77.303352,354.595719,0106000020E96400000100000001030000000100000029...
46,47,37,FlomAreal,1,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,2,61,None,1,219.475802,1997.375085,0106000020E9640000010000000103000000010000008F...
47,48,38,FlomAreal,1,500,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:00:34+00:00,NVE,2,61,None,1,79.761101,247.310919,0106000020E9640000010000000103000000010000001F...
48,49,9428,FlomAreal,0,10,2002-03-22 00:00:00+00:00,36,None,2002-03-22 00:00:00+00:00,fs234_4,...,1.1,2025-03-16 09:03:06+00:00,NVE,1,61,None,1,2106.356834,25404.117126,0106000020E9640000010000000103000000070000000E...
49,50,20221,FlomAreal,0,10,2003-12-31 00:00:00+00:00,36,None,2006-06-20 00:00:00+00:00,fs212_1,...,1.1,2025-03-16 09:04:52+00:00,NVE,1,61,None,1,2230.564980,28787.907931,0106000020E964000001000000010300000001000000DB...